---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-random-generator-seed,
  -bugprone-throwing-static-initialization,
  -portability-avoid-pragma-once

WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*

HeaderFilterRegex: '.*'

FormatStyle: file

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
...
